# Variables in this file will be substituted into docker-compose.yml
# Save a copy of this file as .env and insert your own values.
# Verify correct substitution with "docker-compose config"

DB_HOST= Add here db host
DB_SID= Add here db sid
DB_SCHEMA= Add here db schema
ORA2PG_USER= Add here db user
ORA2PG_PASSWD= Add here db user password